--extra-index-url https://download.pytorch.org/whl/cpu
transformers
torch
feedparser
fastapi
uvicorn[standard]
redis
ccxt
websockets
sqlalchemy
asyncpg
alembic
pydantic-settings
httpx
pgvector
numpy
pandas==2.2.1
pandas-datareader>=0.10.0
ntplib
optuna
python-telegram-bot==20.8
huggingface_hub
beautifulsoup4
